{%- block asdoria_facet_filtering_form_group_row -%}
<div
    class="{% if required %}required {% endif %}{% if (not compound or force_error|default(false)) and not valid %} error{% endif %}">
    {% set children = form.children %}

    {% if children is defined %}
        {% for child in children %}
            {{ form_label(child) }}
            {{ form_widget(child) }}
        {% endfor %}
    {% endif %}
    {{- form_errors(form) -}}
</div>
{%- endblock asdoria_facet_filtering_form_group_row -%}
