{% if form is not defined %}
    {% set form = hookable_metadata.context.form %}
{% endif %}

{% import '@SyliusAdmin/shared/helper/translations.html.twig' as translations %}

{{ form_errors(form) }}
<div class="row">
    <div class="row">
        <div class="col">
            {{ form_row(form.code) }}
        </div>
        <div class="col">
            {{ form_row(form.name) }}
        </div>
    </div>
</div>
