<form class="asdoria-update-facet-groups"
      action="{{ path('asdoria_admin_ajax_facet_group_update_position') }}"
      data-csrf-token="{{ csrf_token('update-facet-group-position') }}"
>
    <button class="btn" type="submit">
        {{ ux_icon('tabler:pencil', { 'class': 'icon icon-tabler' }) }}
        {{ 'sylius.ui.save_positions'|trans }}
    </button>
</form>
